||||||||||||||||| ENTREGAS SASVAR ||||||||||||||||||||
||                                                  ||
|| Estos son los archivos necesarios para iniar     ||
|| la creacion del dataset que sera utilizado por   ||
|| el proyecto de SASVAR.                           ||
||                                                  ||
||||||||||||||||||||||||||||||||||||||||||||||||||||||

  - Realizado por Damián Duque y Esteban Trujillo - 