||||||||||||||||| ENTREGAS SASVAR ||||||||||||||||||||
||                                                  ||
|| Estos son los archivos necesarios para iniar     ||
|| la creacion del dataset que sera utilizado por   ||
|| el proyecto de SASVAR.                           ||
|| sino deseas instalar la capeta "Observaciones"   ||
|| sera necesario que se ejecute 1 vez el archivo   ||
|| "creardiccionarios" antes de ejecutar el Script  ||
|| ya que este es el encargado de crear los         ||
|| archivos json con toda la informacion necesaria  ||
|| para realizar el etiquetado.                     ||
||                                                  ||
||||||||||||||||||||||||||||||||||||||||||||||||||||||

  - Realizado por Damián Duque y Esteban Trujillo - 